@keyframes animation1 {
    0%{
      width:0;
  
    }
    100%{
      width:90%;
   
    }
  }
  @keyframes animation2 {
    0%{
      width:0;
  
    }
    100%{
      width:85%;
   
    }
  }
  @keyframes animation3 {
    0%{
      width:0;
  
    }
    100%{
      width:80%;
   
    }
  }
  @keyframes animation4 {
    0%{
      width:0;
  
    }
    100%{
      width:65%;
   
    }
  }
  @keyframes animation5 {
    0%{
      width:0;
  
    }
    100%{
      width:55%;
   
    }
  }