@import "../keyframe.scss";


body{
  background-color: #14143c; 
  font-family: "Signika", sans-serif;
  color:white;
  margin: 0px 
}

header{
  position: fixed;
  width: 100%;
  background-color: #14143c; 
  justify-content: space-between;
  align-items: center;
  z-index: 10;
 
 img{
  width:50px;
  display:block;
  margin:auto;
  margin-bottom: 10px;
}
nav{
  display: flex;
  justify-content: center;
  width: 100%;
  word-spacing: 13px;

 a{
  border-top:1px white solid;
  width:33%;
  text-align: center;
  text-decoration: none;
  color:white;
 }
}

}

nav :hover{
  border-top: #ffffff 3px solid;
  font-size: 22px;
}


main{ 
  margin: 0px 40px;
  display:flex;
  flex-direction: row;
  padding-top:150px;
  gap:20px;

  

.info{

 width:40%;

 p {
  font-size: 20px;
 }

}

  h1{
    letter-spacing: 5px;
    font-weight: 700;
    margin-bottom:2px;
    margin-top:0px
  }
}

.competences{
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
  padding: 30px;
  border: 1px white solid;
  border-radius: 20px;
  width:60%;
  z-index: 5;

  


  img{
    width:15px;
    display:block
  }

  span {
    display:flex;
    align-items: center;
    justify-content:right;
    gap:5px
  }

  .container {
    background-color: gray;

    .html{
      width:90%;
      background-color: rgb(34 133 28);
      animation: animation1 1s ease-in-out forwards
    }

    .css{
      width:85%;
      background-color: rgb(172, 42, 19);
      animation: animation2 1s ease-in-out forwards
    }

    .sass{
      width:80%;
      background-color: rgb(105, 29, 124);
      animation: animation3 1s ease-in-out forwards
    }

    .js{
      width:65%;
      background-color: rgb(110 110 20);
      animation: animation4 1s ease-in-out forwards
   }

   .react{
    width:55%;
    background-color: rgb(81, 81, 83);
    animation: animation5 1s ease-in-out forwards
   }
  }
} 



@media (max-width:768px){

main{
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  .info , .competences {
    width:80%;

    h1{
   font-size: 22px;
    }

    p{
      font-size: 17px;
    }
  }
}

}